---
import Calculator from "../components/calculator";
import Layout from "../layout.astro";

---

<Layout>
	<div class="flex flex-col min-h-screen pt-30 items-center justify-start corpo gap-10">
		<h1 class="text-5xl font-bold">Boa </h1>
		<Calculator client:load/>
	</div>
</Layout>
