---
import Layout from "../layout.astro";
import Heroi from "../components/Heroi.astro";
import Servicos from "../components/Servicos.astro";
import Vantagens from "../components/Vantagens.astro";
import SobreNos from "../components/SobreNos.astro";
import Depoimentos from "../components/Depoimentos.astro";
import LeadsCapture from "../components/LeadsCapture.astro";
import Contato from "../components/Contato.astro";
---

<Layout>
	<main class="flex flex-col w-full justify-center items-center">
		<Heroi />
		<Servicos />
		<Vantagens />
		<SobreNos />
		<Depoimentos />
		<LeadsCapture />
		<Contato />
	</main>
</Layout>
