---
import Layout from "../layout.astro";
import SecaoCalculadora from "../components/SecaoCalculadora.astro";
---

<Layout
	title="Planos"
	description="Escolha o plano ideal para você e comece a usar nossa calculadora de forma ilimitada."
>
	<main
		class="flex flex-col w-full justify-center items-center pt-8 min-h-screen"
	>
		<SecaoCalculadora />
	</main>


</Layout>
