---
import Layout from "../layout.astro";
import SecaoCalculadora from "../components/SecaoCalculadora.astro";
---

<Layout>
	<main class="flex flex-col w-full justify-center items-center pt-8 min-h-screen ">
		<SecaoCalculadora />
	</main>
</Layout>
