<header
    class="fixed top-0 h-25 flex items-center justify-cente z-10 corpo"
>
    <div class="flex items-center justify-center gap-5">
        <img
            class="h-12 w-12"
            src="/favicon.svg"
            alt="Autoescola Danda Logo"
        />
        <a class="text-2xl font-light text-neutral-600" href="/">Autoescola <strong>Danda</strong></a>
    </div>
</header>
