@import "tailwindcss";

@theme {
  --color-primary: #0A1AC7;
  --color-secondary: #F68800;
}

.corpo {
  @apply px-7 w-screen md:w-[80vw];
}

.input {
  @apply border border-gray-300 rounded-md p-3 w-full focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.input-button {
  @apply p-4 border rounded-full h-10 w-10 flex items-center justify-center text-xl font-bold;
}